@namespace MudExtensions
@using MudExtensions
@using MudExtensions.Enums
@inherits MudComponentBase
@typeparam T

@if (PredicateUnit is CompoundPredicate<T> compoundPredicate)
{
    <div style="border: 1px solid black; padding: 10px; margin: 10px;">
        <strong>@(compoundPredicate.LogicalOperator == FilterCompositionLogicalOperator.And ? "AND" : "OR")</strong>
        @foreach (var filterDescriptor in compoundPredicate.FilterDescriptors)
        {
            <ExpressionTree PredicateUnit="@filterDescriptor" />
        }
    </div>
}
else if (PredicateUnit is AtomicPredicate<T> atomicPredicate)
{
    <div style="border: 1px solid black; padding: 10px; margin: 10px;">
        @atomicPredicate.Member
    </div>
}

@code {
    [Parameter] public PredicateUnit<T> PredicateUnit { get; set; }
}
