@namespace MudExtensions
@using MudExtensions.Enums;
@inherits MudComponentBase
@typeparam T

<div class="@ClassName" style="@StyleString">
    <MudButton OnClick="CompileExpressionAsync">Compile Expression</MudButton>
    <CascadingValue Value="this" IsFixed="true">
        @FilterTemplate  
    </CascadingValue>
    <CompoundPredicateComponent @key="this" T="T" CompoundPredicate="@FilterRoot" Filter="this" />
</div>


