@namespace MudExtensions
@using MudExtensions.Enums;
@inherits MudComponentBase
@typeparam T

<div class="@ClassName" style="@StyleString">
    <CascadingValue Value="this" IsFixed="true">
        @FilterTemplate  
    </CascadingValue>
    <CompoundPredicateComponent @key="this" T="T" CompoundPredicate="@FilterRoot" Filter="this" Depth="0" CompoundPredicateComponentChanged="CompileExpressionAsync"  />
@* 
    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Square="true" Class="my-2 mt-16">
        <MudTextM3 TypeSize="TypeSize.Large" TypeStyle="TypeStyle.Body">@Expression?.ToString()</MudTextM3>  
    </MudAlert>

    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Square="true" Class="my-2 mt-16">
        <MudTextM3 TypeSize="TypeSize.Large" TypeStyle="TypeStyle.Body">@JsonString?.ToString()</MudTextM3>
    </MudAlert>
 *@
</div>


