@namespace MudExtensions
@using MudExtensions.Enums;
@inherits MudComponentBase
@typeparam T

<div class="@ClassName" style="@StyleString">
    <MudButton OnClick="(() => StateHasChanged())">StateHasChanged</MudButton>
    <CascadingValue Value="this" IsFixed="true">
        @FilterTemplate  
    </CascadingValue>
    <FilterNode T="T" PredicateUnit="@FilterRoot" Filter="this" />
</div>


