@namespace MudExtensions
@using MudExtensions.Enums;
@inherits MudComponentBase
@typeparam T

<div class="@ClassName" style="@StyleString">
    <MudSelectExtended MultiSelection="false"
                       ItemCollection="FilterOperator.GetOperatorByDataType(AtomicPredicate.MemberType)"
                       @bind-Value="AtomicPredicate.Operator"
                       @bind-Value:after="OnOperatorSelectChangedAsync"
                       ValuePresenter="ValuePresenter.ItemContent"
                       SearchBox="true"
                       SearchBoxAutoFocus="true"
                       SearchFunc="SearchFunc"
                       T="string"
                       AnchorOrigin="Origin.BottomCenter"
                       Variant="Variant.Outlined"
                       SearchBoxClearable="true"
                       Dense="true"
                       Margin="Margin.Dense">
        <ItemTemplate>
            <MudTextM3 TypeStyle="Enums.TypeStyle.Body" TypeSize="Enums.TypeSize.Large">@context.Value</MudTextM3>
        </ItemTemplate>
    </MudSelectExtended>
</div>
