@namespace MudExtensions
@inherits MudComponentBase
@typeparam T

<div class="@ClassName" style="@StyleString">
    <MudSelect T="string" @bind-Value="AtomicPredicate.Operator" FullWidth="true" Required="true" Dense="true">
        @foreach (var filterOperator in FilterOperator.GetOperatorByDataType(AtomicPredicate.MemberType))
        {
            <MudSelectItem @key="filterOperator" Value="@filterOperator">@filterOperator</MudSelectItem>
        }
    </MudSelect>
</div>