@namespace MudExtensions
@inherits MudComponentBase
@typeparam T

<div class="@ClassName" style="@StyleString">
    <MudSelect T="string" @bind-Value="AtomicPredicate.Operator" FullWidth="true" Required="true" Dense="true">
        @foreach (var o in FilterOperator.GetOperatorByDataType(AtomicPredicate.MemberType))
        {
            <MudSelectItem Value="@o">@o</MudSelectItem>
        }
    </MudSelect>
</div>