@namespace MudExtensions
@inherits MudComponentBase

<div class="mud-filter-operator-column">
    <div>
        @if (IsCompoundPredicate && !IsFirstElement)
        {
            <MudSpeedDial Origin="Origin.TopRight" Style="position:relative" OpenOnHover="false" OpenOnClick="true">
                <MudFab Class="z-60" Size="Size.Small" IconSize="Size.Small" Color="Color.Primary" StartIcon="@Icons.Material.Filled.AddCircleOutline" OnClick="AddAtomicPredicateAsync" />
                <MudFab Class="z-60" Size="Size.Small" IconSize="Size.Small" Color="Color.Primary" StartIcon="@Icons.Material.Filled.LibraryAdd" OnClick="AddCompoundPredicateAsync" />
            </MudSpeedDial>
        }
    </div>
    <div>
        <MudIconButton Class="mud-ap-remove" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Large" OnClick="RemovePredicateUnitAsync" />
    </div>
</div>