@namespace MudExtensions
@using System.Linq.Expressions;
@using MudExtensions.Enums;
@inherits MudComponentBase
@typeparam T

<div class="@ClassName" style="@StyleString">
    <MudSelectExtended MultiSelection="false"
                       ItemCollection="Filter?.Properties"
                       @bind-Value="SelectedProperty"
                       @bind-Value:after="HandleSelectedPropertyChangedAsync"
                       ValuePresenter="ValuePresenter.ItemContent"
                       SearchBox="true"
                       SearchBoxAutoFocus="true"
                       SearchFunc="SearchFunc"
                       T="Property<T>"
                       AnchorOrigin="Origin.BottomCenter"
                       Variant="Variant.Outlined"
                       SearchBoxClearable="true"
                       Dense="true"
                       Margin="Margin.Dense">
        <ItemTemplate>
            <MudTextM3 TypeStyle="Enums.TypeStyle.Body" TypeSize="Enums.TypeSize.Large">@context.Value.ComputedTitle</MudTextM3>
        </ItemTemplate>
    </MudSelectExtended>
</div>