@namespace MudExtensions
@inherits MudComponentBase
<div class="@Class" style="@Style">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public string TemplateColumns { get; set; } = "repeat(2, 1fr)";
    [Parameter] public string TemplateRows { get; set; } = "auto";
    [Parameter] public string Gap { get; set; } = "10px";
    [Parameter] public string ColumnGap { get; set; } = "auto";
    [Parameter] public string RowGap { get; set; } = "auto";
    [Parameter] public string AutoRows { get; set; } = "auto";
    [Parameter] public string AutoColumns { get; set; } = "auto";
    [Parameter] public string AutoFlow { get; set; } = "row";
    [Parameter] public string TemplateAreas { get; set; } = "";
    [Parameter] public string AlignItems { get; set; } = "stretch";
    [Parameter] public string AlignContent { get; set; } = "normal";
    [Parameter] public string JustifyContent { get; set; } = "normal";
    [Parameter] public string AlignSelf { get; set; } = "auto";
    [Parameter] public string JustifySelf { get; set; } = "auto";

    protected string Style => $@"display:grid;
                                 grid-template-columns:{TemplateColumns};
                                 grid-template-rows:{TemplateRows};
                                 grid-gap:{Gap};
                                 grid-column-gap:{ColumnGap};
                                 grid-row-gap:{RowGap};
                                 grid-auto-rows:{AutoRows};
                                 grid-auto-columns:{AutoColumns};
                                 grid-auto-flow:{AutoFlow};
                                 grid-template-areas:{TemplateAreas};
                                 align-items:{AlignItems};
                                 align-content:{AlignContent};
                                 justify-content:{JustifyContent};
                                 align-self:{AlignSelf};
                                 justify-self:{JustifySelf};";
}
