@namespace MudExtensions
@inherits MudComponentBase
<div class="@Class" style="@Style">@ChildContent</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string ColumnStart { get; set; } = "auto";
    [Parameter] public string ColumnEnd { get; set; } = "auto";
    [Parameter] public string RowStart { get; set; } = "auto";
    [Parameter] public string RowEnd { get; set; } = "auto";

    protected string Style => $"grid-column-start:{ColumnStart};grid-column-end:{ColumnEnd};grid-row-start:{RowStart};grid-row-end:{RowEnd};";
}
