@namespace MudExtensions
@inherits MudComponentBase
<div class="@Class" style="@Style">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Area { get; set; } = "auto";

    protected string Style => $"grid-area:{Area};";
}
