@namespace MudExtensions
@inherits MudComponentBase

<div class="mud-filter-operator-column">
    <MudStack Row="true" AlignItems="AlignItems.Center">
        <div>
            @if (IsCompoundPredicate && !IsFirstElement)
            {
                <MudSpeedDial Origin="Origin.TopRight" Style="position:relative" OpenOnHover="false" OpenOnClick="true" Size="Size.Small" CloseWhenClick="true">
                    <MudFab Class="z-60" Size="Size.Small" IconSize="Size.Small" Color="Color.Primary" StartIcon="@Icons.Material.Filled.AddCircleOutline" OnClick="AddAtomicPredicateAsync" />
                    <MudFab Class="z-60" Size="Size.Small" IconSize="Size.Small" Color="Color.Primary" StartIcon="@Icons.Material.Filled.LibraryAdd" OnClick="AddCompoundPredicateAsync" />
                </MudSpeedDial>
            }
        </div>
        <div>
            @if (IsCompoundPredicate || (IsAtomicPredicate && !IsFirstElement))
            {
                <MudIconButton Class="mud-ap-remove" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Medium" OnClick="RemovePredicateUnitAsync" />
            }
        </div>
    </MudStack>
</div>