.mud-filter {
    background-color: var(--mud-m3-surface);
    color: var(--mud-m3-on-surface);
    padding-bottom: 128px;

    .mud-compound-predicate {
        margin-top: 2px;
        margin-left: 8px;

        .mud-first-logical-operator {
            padding-top: 21px;
            padding-left: -8px;
        }

        .mud-logical-operator {
            padding-top: 21px;
        }

        .mud-cp-stack {
            .mud-cp-radio-group {
                margin-left: 8px
            }

            .mud-cp-add-atomic {
            }

            .mud-cp-add-compound {
            }

            .mud-cp-remove {
                border-color: var(--mud-m3-surface);
                color: var(--mud-m3-surface);
                margin-left: auto;
                margin-right: 8px;
            }
        }

        .mud-cp-stack:hover .mud-cp-remove {
            border-color: var(--mud-m3-primary);
            color: var(--mud-m3-primary);
            transition: border-color .3s, color .3s;
        }
    }

    .mud-atomic-predicate {
        margin-top: 2px;

        .mud-ap-stack {
            justify-content: space-between;

            .mud-logical-operator {
                flex: 1 1 3%
            }

            .mud-property-select {
                flex: 1 1 32.33%
            }

            .mud-operator-select {
                flex: 1 1 32.33%
            }

            .mud-value-field {
                flex: 1 1 32.33%
            }

            .mud-ap-remove {
                border-color: var(--mud-m3-surface);
                color: var(--mud-m3-surface);
                margin-left: auto;
                margin-right: 8px;
            }
        }

        .mud-ap-stack:hover .mud-ap-remove {
            border-color: var(--mud-m3-primary);
            color: var(--mud-m3-primary);
            transition: border-color .3s, color .3s;
        }
    }
}
