@mixin stack {
    margin-top: 2px;
}

@mixin filter-operator-column {
    display: flex;
    justify-content: flex-end;
    width: 120px;
}

.mud-filter, .mud-data-grid {
    background-color: var(--mud-m3-surface);
    color: var(--mud-m3-on-surface);
    border-radius: var(--mud-default-borderradius)
}

@for $i from 0 through 10 {
    .compound-predicate-component.depth-#{$i} {
        padding-left: #{1em * $i};
    }
}

.mud-filter {

    .mud-compound-predicate {
        @include stack;

        .mud-first-logical-operator {
            padding-top: 21px;
        }

        .mud-logical-operator {
            width: 125px;
        }

        .mud-cp-stack {
            justify-content: space-between;
            align-items: center;

            .mud-filter-operator-column {
                @include filter-operator-column;
            }
        }
    }

    .mud-atomic-predicate {
        @include stack;

        .mud-ap-stack {
            justify-content: space-between;
            align-items: center;

            .mud-filter-operator-column {
                @include filter-operator-column;
            }

            .mud-filter-def {
                flex-grow: 1;
            }

            .mud-logical-operator {
                width: 125px;
            }

            .mud-property-select, .mud-operator-select, .mud-value-field {
                flex: 1 1 33.33%
            }
        }
    }
}

